<div class="header">
    <h1 class="title row">Carson Minihan</h1>
    <div class = "nav row">
        <div class="nav-btn">
            <h3><a style="text-decoration: none; color: black;" href="https://www.linkedin.com/in/carson-minihan/" target="_blank">LinkedIn</a></h3>
        </div>
        <div class="nav-btn">
            <h3><a style="text-decoration: none; color: black;" href="https://github.com/CarsonMinihan" target="_blank">GitHub</a></h3>
        </div>
        <div class="nav-btn">
            <h3><a style="text-decoration: none; color: black;" href="#contact">Contact</a></h3>
        </div>
    </div>
</div>

<div>
    <img src="./assets/images/self-Img.jpg" alt="self-Img"/>
</div>

<p style="height: 700px;">home works with img</p>

<div id = "contact" class="footer">
    <p>contact</p>
</div>