<div class="header" id="top">
    <h1 class="title row">Carson Minihan</h1>
    <div class = "nav row">
        <div class="nav-btn-container">
            <a class="nav-btn" href="https://www.linkedin.com/in/carson-minihan/" target="_blank">LinkedIn</a>
        </div>
        <div class="nav-btn-container">
            <a  class="nav-btn" href="https://github.com/CarsonMinihan" target="_blank">GitHub</a>
        </div>
        <div class="nav-btn-container">
            <a class="nav-btn" href="#contact">Contact</a>
        </div>
    </div>
</div>

<div class="top">
    <div class="top-text-container column">
       
      <p class="top-text-body">
        My name is <span class="top-text-headers">Carson Minihan</span>, I'm a Web developer who specializes in 
        <span class="top-text-headers">front-end development!</span>
      </p> 
    </div>
    <img src="./assets/images/self-Img.jpg" alt="self-Img" class="self-img column"/>
</div>



<div id = "contact" class="footer" style="width: 100%; text-align: center; margin-top: 700px;">
    <p>contact</p>
    <a class="nav-btn" href="#top">Top</a>
</div>