.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}


.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    height: 50px;
    width: 100%;
    top: 0;
    background-color: rgb(165, 182, 182);
}

.title{
    display: flex;
    text-align: center;
    margin: auto 0;
    margin-left: 10px;
}
.nav{
    display: flex;
    text-align: center;
    min-width: 400px;
}
.nav-btn-container{
    flex: 1;
    align-content: center;
}
.nav-btn{
    padding: 0 10px;
    
    margin: auto;
    text-decoration: none; 
    color: black;
    font-size:medium;
    font-weight: 600;
}
.nav-btn:hover{
    color: rgb(64, 64, 64);
    font-size: large;
}


.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 0.5px;
    justify-content: space-around;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 10px;
    background-color: rgb(204, 224, 224);
    padding: 10px;
}

.self-img{
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
    flex: 1;
}
.top-text-container{
    display: flex;
    justify-content: center;
    flex: 1; 
}
.top-text-headers{
    font-size:large;
    font-weight: 600;
    font-style: italic;
}
.title-header{
    font-style: italic;
    text-align: center;
    flex: 1; 
}
.top-text-body{
    text-align: left;
    flex: 10;
    margin: auto;
    padding-right: 10px;
    text-align: center;
    line-height: 25px;
}

.middle{
    margin-top: 20px;
    background-color: rgb(165, 182, 182);
    width: 100%;
}
.middle-container{
    min-width: 700px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}
.tech-list{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.tech-list>*{
    flex: 1;
}




.icons-reference{
    text-decoration: none; 
    color: gray;
    font-size: small;
}
.icons-reference > a{
    color: gray;
}
@media only screen and (max-width: 768px) {
    .header{
        justify-content: center;
        flex-direction: column;
        height: auto;
    }
    .title{
        margin: auto;
        padding-top: 5px;
    }
    .nav{
        margin: 10px auto;
    }
    .top{
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        margin: 0;
        border-radius: 0;
    }
    .top-text-body{
        padding-right: 0px;
    }
    .middle{
        margin: 0;
    }
    .middle-container{
        min-width: 500px;
        width: auto;
    }
    .tech-list{
        flex-wrap: wrap;  
    }
    .tech-list>*{
        flex: 1 1 33.3%;
    }
}