.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}


.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    height: 50px;
    width: 100%;
    top: 0;
    /* background-color: rgb(165, 182, 182); */
}

.title{
    display: flex;
    text-align: center;
    margin: auto 0;
    margin-left: 10px;
}
.nav{
    display: flex;
    text-align: center;
    min-width: 400px;
}
.nav-btn-container{
    flex: 1;
    align-content: center;
}
.nav-btn{
    padding: 0 10px;
    transition: all 0.2s ease-in-out;
    
    margin: auto;
    text-decoration: none; 
    color: black;
    font-size:medium;
    font-weight: 600;
}
.nav-btn:hover{
    transition: all 0.2s ease-in-out;
    color: rgb(64, 64, 64);
    font-size: large;
}


.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;
    justify-content: space-around;
    max-width: 800px;
    margin: 20px auto 40px auto;
    border-radius: 10px;
    background: rgb(210, 219, 219);
    /* background: linear-gradient(20deg, rgb(203, 203, 203) 0%, rgb(170, 202, 205) 50%, rgb(203, 203, 203) 100%); */
    box-shadow: 0px 0px 5px 2px rgb(106, 106, 106);
    padding: 10px;
}

.self-img{
    max-height: 400px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
    flex: 1;
}
.top-text-container{
    display: flex;
    justify-content: center;
    flex: 1; 
}
.top-text-headers{
    font-size:large;
    font-weight: 600;
    font-style: italic;
}
.title-header{
    font-style: italic;
    text-align: center;
    flex: 1; 
    margin-top: 0;
}
.middle-title-header{
    font-style: italic;
    text-align: center;
    flex: 1; 
}
.top-text-body{
    text-align: left;
    flex: 10;
    margin: auto;
    padding-right: 10px;
    text-align: center;
    line-height: 25px;
}

.middle{
    background-color: rgb(165, 182, 182);
    width: 100%;
    min-height: 450px;
}
.middle-container{
    min-width: 700px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
}
.tech-list{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    row-gap: 20px;
}
.tech-list>*{
    flex: 1 1 33.3%;
}

.experience{
    padding-top: 20px;
}
.experience-list{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    max-width: 500px;
    text-align: center;
}
.experience-list-item{
    flex: 1;
    background-color: rgb(146, 146, 146);
    border-radius: 5px;
}
.video-player{
    width: 490px;
    height: 400px;
}

.contact-container{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.contact-title-header{
    font-style: italic;
    text-align: center;
    flex: 1; 
}




.icons-reference{
    text-decoration: none; 
    color: gray;
    font-size: small;
}
.icons-reference > a{
    color: gray;
}
@media only screen and (max-width: 768px) {
    .header{
        justify-content: center;
        flex-direction: column;
        height: auto;
    }
    .title{
        margin: auto;
        padding-top: 5px;
    }
    .title-header{
        margin-top: 15px;
    }
    .nav{
        margin: 10px auto;
    }
    .top{
        background-color: rgb(169, 187, 187);
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .top-text-body{
        padding-right: 0px;
    }
    .middle{
        margin: 0;
    }
    .middle-container{
        min-width: 500px;
        width: auto;
    }
    .tech-list{
        flex-wrap: wrap;  
    }
    .tech-list>*{
        flex: 1 1 33.3%;
    }
}
@media only screen and (max-width: 500px) {
    .nav{
        min-width: 360px
    }
    .top-text-body{
        padding: 0 10px 0 10px
    }
    .middle-container{
        min-width: 360px;
    }
    .video-player{
        width: 360px;
        height: 300px;
    }

}