<div class="header" id="top">
    <h1 class="title row">Carson Minihan</h1>
    <div class = "nav row">
        <div class="nav-btn-container">
            <a class="nav-btn" href="https://www.linkedin.com/in/carson-minihan/" target="_blank">LinkedIn</a>
        </div>
        <div class="nav-btn-container">
            <a  class="nav-btn" href="https://github.com/CarsonMinihan" target="_blank">GitHub</a>
        </div>
        <div class="nav-btn-container">
            <a class="nav-btn" href="#contact">Contact</a>
        </div>
    </div>
</div>

<div class="top">
    <div class="top-text-container column">
       <h2 class="title-header">Hi, I'm Carson Minihan!</h2>
      <p class="top-text-body">
        I'm a Web developer who specializes in 
        <span class="top-text-headers">front-end development!</span> I'm highly motivated, purpose driven, I love learning new things and 
        putting them into practice. And I especially love when something I made or helped make works and works well. I love front-end development
         mainly because I like seeing what my code is doing, but I do still like Back-end development and managing data!
      </p> 
    </div>
    <img src="./assets/images/self-Img.jpg" alt="self-Img" class="self-img column"/>
</div>

<div class="middle row">
    <div class="middle-container column">
        <h2 class="title-header">My Primary Tech Stack Consists of</h2>
        <div class="row tech-list">
            <div class="tech-list-item">
                <p>HTML/CSS</p>
                <img src="./assets/images/icons8-html-48.png"/>
            </div>
            <div class="tech-list-item">
                <p>JavaScript</p>
                <img src="./assets/images/icons8-javascript-48.png"/>
            </div>
            <div class="tech-list-item">
                <p>TypeScript</p>
                <img src="./assets/images/icons8-typescript-48.png"/>
            </div>
            <div class="tech-list-item">
                <p>Angular</p>
                <img src="./assets/images/icons8-angularjs-48.png"/>
            </div>
            <div class="tech-list-item">
                <p>React</p>
                <img src="./assets/images/icons8-react-js-48.png"/>
            </div>
            <div class="tech-list-item">
                <p>UI/UX Design</p>
                <img src="./assets/images/icons8-web-design-48.png"/>
            </div>
            <div class="tech-list-item">
                <p>C#</p>
                <img src="./assets/images/icons8-c-48.png"/>
            </div>
            
            
            
            
            
            
            
        </div>
    </div>
    

</div>



<div id = "contact" class="footer" style="width: 100%; text-align: center; margin-top: 700px;">
    <p>contact</p>
    <a class="nav-btn" href="#top">Top</a>
    <p class="icons-reference">Icons by <a href="https://icons8.com/" target="_blank">Icons8</a></p>
</div>